.leaflet-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.wrapper {
  display: flex;
  line-height: 1;
  justify-content: space-around;
}

.wrapper p {
  font-size: 100%;
}

.info_velos {
  margin: 1vh;
}

.title_popup {
  font-size: 1.7vh;
  text-align: center;
  width: 100%;
}

.cb_popup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .img_cb {
    width: 30px;
    height: 30px;
  }
}
