.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.popup .leaflet-popup-content-wrapper {
  color: rgb(255, 0, 119);
}
.popupUnavailable .leaflet-popup-content-wrapper {
  color: grey;
}

.marker .popup .leaflet-popup-content-wrapper {
  background-color: red;
}
